/* Body */
body{
  background-color: #00aecc;
  margin: 0;
  width: 100%;
}
/* HEADER */
header {
 background-color: #0094ae;
 border: #0094ae;
 box-sizing: border-box;
 height: 8vh;
 left: 0;
 right: 0;
 margin: 0;
 position: absolute;
 width: 100%;
}

.leftbutton button {
 background-color: #66bfce;
 border-style: none;
 border-radius: 3px;
 color: white;
 font-family: 'PT Sans', sans-serif;
 font-weight: bold;
 height: 2.6em;
 left: 2%;
 padding-left: 3px;
 position: absolute;
 text-align: right;
 top: 15%;
 width: 8em;
}

.barra input {
 background-color: #66bfce;
 border-style: none;
 border-radius: 3px;
 font-family: 'PT Sans', sans-serif;
 height: 2.5em;
 left: 11%;
 position: absolute;
 top: 15%;
 width: 18em;
}

 .trello img {
  height: 2em;
  left: 45%;
  position: absolute;
  top: 15%;
  width: 6.5em;
}

div button {
 background-color: #66bfce;
 border-style: none;
 border-radius: 8px;
 color: white;
 font-weight: bold;
 height: 2.5em;
 position: absolute;
 text-align: center;
 top: 15%;
 width: 2.5em;
}

.bell {
 left: 93%;
}

.info {
 left: 90%;
}

.plus {
 left: 87%;
}

.user {
 left: 96%;
}

/* MAIN*/
article {
  background-color: #00aecc;
  box-sizing: border-box;
  color: white;
  font-family: 'PT Sans', sans-serif;
  font-weight: bold;
  left: 3%;
  margin: 0;
  top: 11vh;
  padding: 1px;
  position: absolute;
  width: 100%;
}

span {
  box-sizing: content-box;
  font-weight: bold;
  padding: 4px;
  position: relative;
}

span i .fa-star .fa-briefcase {
  color: white;
  padding: 4px;
  position: absolute;
}

.menu a {
  color: white;
  left: 60%;
  padding: 2px;
  position: relative;
}
/* FORM LISTA*/
section div.container  {
  height: 75vh;
  left: 3%;
  position: absolute;
  top: 17vh;
  width: 53vh;
}

section div.container input {
  border-style: none;
  border-radius: 3px;
  background-color: #0094ae;
  font-family: 'PT Sans', sans-serif;
  font-weight: bold;
  height: 5vh;
  left: 0vh;
  padding-left: 10px;
  position: absolute;
  text-align: left;
  top: 0vh;
  width: 19.5em;
}

#addtext {
  box-sizing: content-box;
  background-color: solid gray;
  display: inline-block;
  font-family: 'PT Sans', sans-serif;
  height: 10vh;
  top: 8vh;
  position: absolute;
  width: 10vh;
}

div.save {
  box-sizing: content-box;
  background-color: solid gray;
  display: inline-block;
  height: 10vh;
  top: 30vh;
  position: absolute;
  width: 10vh;
}

/*---JAVASCRIPT---*/

.square {
  background-color: #e2e4e6;
  border-radius: 3px;
  height: 5em;
  left: 4vh;
  padding: 2px;
  position: absolute;
  top: 16vh;
  width: 17.4em;
}

.botonCancel {
  background-color: #e2e4e6;
  color: #AAAAAA;
  font-size: 2.5em;
  font-weight: lighter;
  height: 1em;
  left: 17vh;
  position: absolute;
  top: 6.5vh;
  width: 1em;
}

.guardar {
  background-color: #519839;
  border-radius: 3px;
  color: white;
  font-family: 'PT Sans', sans-serif;
  font-weight: bold;
  font-size: 1em;
  height: 2em;
  left: .8vh;
  top: 6.9vh;
  width: 6em;
}

.newInput {
  border-color: 1px #7f7f7f;
  border-style: none;
  border-radius: 3px;
  background-color:#aaa;
  font-family: 'PT Sans', sans-serif;
  font-weight: bold;
  height: 5vh;
  left: 1vh;
  padding-left: 10px;
  position: absolute;
  text-align: left;
  top: 1vh;
  width: 19.5em;
}
